h1
{
    position: relative;
    top: 4rem;
    font-family: 'google';
    font-size: 3.5rem;
}

.cnt-main
{
    height: 100%;
}

@media (max-width: 500px) and (max-height: 813px)
{
  h1
  {
      position: absolute;
  }
}